<% provide(:title, '新建新闻')  %>
<br>
<div class="panel panel-default">
    <div class="panel-heading">新建新闻</div>
      <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <%= render 'form' %>
          <%= link_to '返回', informs_path ,class:"btn btn-outline btn-primary" %>
      </div>
    </div>
</div>
<script type="text/javascript">
     form_send($(".new_inform").attr('action'), 'post');
</script>

