@import "bootstrap";
@import "font-awesome";


body {
    padding-top: 100px;
    background-color: #f8f8f8;
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }

/* Wrappers */

/* ------------------------------- */

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media(max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media(max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }
}

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */
#re-me{
    margin-top:5px !important;
    margin-left:0px !important;
    margin-bottom: 10px;
    display: inline;
}
.login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */
.btn{
    float: left;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    float: left;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/*
    Document   : scrollToTop
    Created on : 3 juil. 2012, 14:50:46
    Author     : Jeremy D Noe
*/

.backtotopinstance{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: #eee;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 3px 3px;
    padding: 15px 25px;
    cursor:pointer
}

/*
Document :paging
Created on:15 july .2014,17:41
*/
.pagination{
    padding-top: 10px;
    float:right;
    display: inline;
 .pages a{
    border:1px solid #428bca;
    padding-bottom:7px;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 12px;
    text-decoration: none;
    &:hover{
    background-color:#428bca;
    color: #fff; 
    }
}
 .current{
    border:1px solid #428bca;
    background-color: #428bca;
    margin-right: 3px;
    padding-bottom:7px;
    padding-top: 7px;
    padding-right: 12px;
    padding-left: 12px;
    color: #fff;
}
}
/*
Document :table
Created on:17 july .2014,10,17
*/

.btn-primary.btn-outline{
    margin-top: 20px;   
    margin-right:15px;
    width: 150px;
    float: left;

}
.alert-successp{
    width: 100%;
    height:50px;
}
.alert-success{
    text-align: center;
}
.table{
    background-color: #E8E8E5;
    float:left;
}
.table-striped>tbody>tr>td{
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.table-striped>thead>tr>td{
    text-align: center;
}
.panel-heading{
    font-size: 20px;
}
/*
Document :company.css
Created on:17 july .2014,10,47
*/
// #foo{
//     width:98%;
//     height:100%;
//     border:0px;
//     // scrolling:no;

//     //  a.css('width', '98%');
//     //               a.css('height','100%');
//     //               a.css('scrolling','no');
//     //               a.css('srcdoc','HTML_code');
//     //               a.css('border','0 none');
// }
.navbar-default{
    position: absolute;
    top: 0px;
}
.show{
    width: 60%;
    color:#544946;
    font-size: 20x;
    font-weight: normal;
    margin-top: 20px;   
    strong{
        color:#426ab3;
        font-weight: normal;
    }
}
.field{
    width: 100%;
    label{
    margin-bottom:15px;
    margin-top: 15px;

}
}
.run-off{
    float:left;
    border-color:#cccccc;
    background-color: #fff;
    border-radius:7px;
    height:33px;
    margin-top: 18px;
    margin-left: 8px;
    &:hover{
        background-color: #cccccc;
    }
    &:hover{
        background-color: #cccccc;
    }
    &:active{
        border:none;
    }
    &:visited{
        border:none;
        border-radius: 7px;
    }

}

.checkbox{
    float: left;
    margin: 26px;
    label{
        margin-left:10px;
    }
}
.search{
    float: right;   
    margin-right:30px; 
    .search-p{
        float: left;
        margin-left:10px; 
    }
    .search-in{
        float: left;
        margin-top:18px; 
    }
}
.delete{
    padding:5px;
    margin-top: 18px;
}
.check_product{
    width: 100%;
    height: 100%;
    line-height: 25px;
    color:#544946;
    margin-left: 20px;
    margin-bottom: 25px;
    font-weight: normal;    
    float: left;
    font-size: 16px;
    display: inline;
    p{
        margin-top: 15px;
    }

}
.button{
    width: 400px;
    float: left;
}
.time{
    margin: 10px;
    float: right;
    font-size:14px;
    strong{
        font-weight: normal;
    }
}
/*
Document :layout.css
Created on:19 july .2014,09,47
*/

.textstyle{
    text-align: center;
}
.textwidth{
    width: 50%;
}
.error{
    color: #b94a48;
    border-color: #b94a48;
}
.alert-error{
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.checkb{
    width: 57px !important;
}    
  }  
/*scaffolds*/
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height:100%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #428bca;
  &:visited {
    color:#428bca;
  }
  &:hover {
    color: #3B3840;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  width: 100%;
  display:inline-block;
  text-align: center;

}
.alert-error{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  li{
    list-style-type: none;
    padding: 10px;
  }
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



