/* index css */

.table{
	background-color: #E8E8E5;
}
.table-striped>tbody>tr:nth-child(odd)>td{
		height: 40px;
		line-height: 40px;
	}
.product_describle{
    	overflow: hidden;
    }
.btn-primary.btn-outline{
    margin: 10px;   
    float: left;
    width: 150px;
}
.pagination{
	float:right;
	margin-top: 10px !important;
}
.alert-successp{
	width: 100%;
	height:50px;
}
.alert-success{
	text-align: center;
}
.panel-heading{
	font-size: 20px;
}
.checkbox{
	float: left;
	margin: 26px;
	label{
		margin-left: 10px;
	}
}
.search{
	float: right;	
	margin-right:30px; 
	.search-p{
		float: left;
		margin-left:10px; 
	}
	.search-in{
		float: left;
		margin-top:18px; 
	}
}
.delete{
	padding:5px;
	margin-top: 18px;
}

/*index css end*/

/*show css*/
.check_product{
	width: 98%;
	line-height: 25px;
	color:#544946;
	margin-left: 10px;
	margin-bottom: 20px;
	font-weight: normal;	
	float: left;

}
.button{
	width: 400px;
	float: left;
}
.time{
	margin: 10px;
	float: right;
	font-size:10px;
	strong{
		font-weight: normal;;
		font-size: 10px;


	}
}
/*show css end*/

/*form css*/
.field{
	margin-bottom: 15px;
	width: 100%;
}
label{
	margin-bottom: 15px;
}
/*form  end css*/
