/* index css */
.table{
	background-color: #E8E8E5;
}
.product_describle{
    	overflow: hidden;
    }
.btn-primary.btn-outline{
    margin: 10px;   
    float: left;
}

.alert-successp{
	width: 100%;
	height:50px;
}
.alert-success{
	text-align: center;
}
/*index css end*/

/*show css*/
.check_product{
	width: 60%;
	color:#544946;
	font-size: 20x;
	border: 1px solid #D9D6CF;
	margin-bottom: 20px;
	font-weight: normal;	
	padding: 10px;
}