<% provide(:title, '添加产品')  %>

<div class="panel panel-default">
   <div class="panel-heading">新增产品</div>
      <div class="panel-body">
        <div class="table-responsive">
		<%= render 'form' %>
		<%= link_to '返回', products_path, class:"btn btn-outline btn-primary" %>
		</div>
	</div>
</div>

