<% provide(:title, '推送信息')  %>
<%= form_for(@push_message) do |f| %>

<% if @push_message.errors.any? %>
<div id="error_explanation">
  <h2>发生了错误！</h2>
  <ul>
    <% @push_message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <label>推送信息:</label>
  <%= f.text_field :message,class:"form-control",type:"text" %>
</div>
<% end %>

<div class="actions">
  <button class="btn btn-outline btn-primary" id="send">推送到平板</button>
</div>

<script type="text/javascript">
  console.log("fuck");
  $("#send").click(function(event) {
    var ids = new String();
    var message = new String();
    message = $("#push_message_message").val();
    $("input[id = chckBox]").each(function(index, checkBox) {
      if (checkBox.checked) {
        ids = ids + checkBox.name + ",";

      };
    });
    console.log(ids);
    $.post('/push_messages',
     { 
      ids: ids,
      push_message:{message:message}
     },
      function(data) {
      console.log(data);
    }, "json");
  });


</script>