<% provide(:title, '推送信息')  %>

<%= form_for(@push_message) do |f| %>

<div class="alert alert-block alert-error" id="error-div", style="display:none">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <p id="error-p"></p>
  <ul>
  </ul>
</div>
<div class="field">
  <label>推送信息:</label>
  <%= f.text_field :message,class:"form-control",type:"text" %>
</div>
<%end%>

<div class="actions">
  <button class="btn btn-outline btn-primary" id="send">推送到平板</button>
</div>

<script type="text/javascript">
  $("#send").click(function(event) {
    console.log("fuck");
    var ids = new String();
    var message = new String();
    message = $("#push_message_message").val();
    $("input[id = checkBox]").each(function(index, checkBox) {
      if (checkBox.checked) {
        ids = ids + checkBox.name + ",";
      };
    });
    console.log(ids);

if (ids.split(",").length > 1) {
  console.log("test");
  $.ajax({
    url: "/push_messages",
    beforeSend: function(data){
      $('#error-div').css("display","none");
      $('#error-div').children().filter('li').remove();
    },
    dataType: "json",
    type: "POST",
    data: {
      "push_message[message]" :$("#push_message_message").val(),
      "ids" : ids,
      "authenticity_token" : $("input[name='authenticity_token']").attr("value"),
      "utf8": $("input[name='utf8']").attr("value")
    },
  })
  .done(function( data) {
    console.log(data);
    location.href = "/push_messages/" + data.id;//跳转网址

  })
  .fail(function ( jqXHR, textStatus, errorThrown ) {
    console.log(jqXHR.responseText);
    $("#error-div").css("display","block");
    $("#error-p").html("<strong>发生了" + JSON.parse(jqXHR.responseText).message.length + "个错误</strong>");
    for (var i = 0; i < JSON.parse(jqXHR.responseText).message.length; i++) {
      $('<li />').html(JSON.parse(jqXHR.responseText).message[i]).appendTo('#error-div');
    };
    console.log(JSON.parse(jqXHR.responseText).message);
  })
  .always(function( data ) {
  })

}else{
  $('#error-div').css("display","none");
  $('#error-div').children().filter('li').remove();
  $("#error-div").css("display","block");
    $("#error-p").html("<strong>发生了1个错误</strong>");
    $('<li/>').html("请勾选目标平板").appendTo('#error-div');
  }
});

</script>