
<% provide(:title, '新建')  %>
<br>
<div class="panel panel-default">
   <div class="panel-heading">新建IP</div>
      <div class="panel-body">
        <div class="table-responsive">
    <%= render 'form' %>
    <%= link_to '返回', ips_path, class:"btn btn-outline btn-primary" %>
    </div>
  </div>
</div>
</div>